<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <pipelines>

      <mvc.renderAjaxPlaceholder>
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.InitializeProfiling, Sitecore.Mvc"/>
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.EnterPlaceholderContext, Sitecore.Mvc"/>
        <processor type="Sitecore.Mvc.ExperienceEditor.Pipelines.Response.RenderPlaceholder.AddWrapper, Sitecore.Mvc.ExperienceEditor"/>
        <processor type="SitecoreMvcAjaxForms.Mvc.Pipelines.Response.RenderPlaceholder.PerformAjaxPlaceholderRendering, SitecoreMvcAjaxForms"/>
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.RenderAddedContent, Sitecore.Speak.Mvc"/>
      </mvc.renderAjaxPlaceholder>

    </pipelines>
  </sitecore>
</configuration>
